.assetManagerViewer {
	display: flex;
	flex-direction: column;
	padding: 8px;
}

.assetManagerViewer * {
	color: white;
}

.assetBundleTitle {
	font-size: 24px;
	text-decoration: underline;

	display: flex;
	flex-direction: row;
}
