.container {
	display: flex;
	flex-direction: row;
}

.topBar {
	border-bottom: 1px solid white;
	color: white;
}

.topBar > button {
	background-color: black;
	color: white;
}

.canvasContainer {
	overflow: hidden;
}

.canvasBack {
	border: 1px dotted red;
}

.canvasOverlay {
	position: absolute;
}

.sprite {
	border: 1px dotted white;
}

.sprite:hover {
	border: 1px solid yellow;
	cursor: pointer;
}

.selected {
	border: 1px solid yellow;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8px;
	height: 100%;

	color: white;
	border-left: 1px solid white; 
}