

.contextMenu {
	position: absolute;
	display: flex;
	flex-direction: column;

	z-index: 10;
	background-color: rgb(48, 48, 48);
	border: 1px solid gray;
	border-radius: 8px;
	padding: 0px 4px;
}

.contextMenuItem {
	color: white;
	margin: 4px;
	text-align: center;
	box-sizing: content-box;
	line-height: 1.5;
}

.contextMenuItem + .contextMenuItem {
	border-top: 1px solid white;
}