.popupContainer {
	position: absolute;
	z-index: 100;

	display: flex;
	flex-direction: column;
	background-color: rgb(58, 58, 58);
}

.popupHandle {
	width: 100%;
	height: 20px;
	
	display: flex;
	flex-direction: row;
	background-color: black;
	cursor: pointer;
}

.popupClose {
	margin-left: auto;
	color: white;
}