.barBack {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: rgb(68, 68, 68);
}

.barText {
	position: relative;
	height: 100%;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.bar {
	position: absolute;
	background-color: red;
	height: 100%;
}