.editEquipmentMenu {
	display: grid;
	flex-direction: column;
	padding: 8px;
	max-height: 60vh;
	width: 500px;
	overflow-y: scroll;
	grid-template-columns: auto auto auto auto;
	gap: 8px;
}

.saveArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: gray 2px solid;
}

.error {
	color: red;
	font-size: 30px;
}

.container input, select, textarea {
	width: 90%;
	color: white;
	background-color: rgb(46, 46, 46);
	border-radius: 4px;
	padding: 4px;
}

.container button {
	background-color: rgb(46, 46, 46);
	color: white;
}

.container button:disabled {
	color: gray;
}

.container select {
	padding: 8px;
}

.editEquipmentMenu input[type=number]::-webkit-inner-spin-button, 
					input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.row {
	display: flex;
	grid-column: span 4;
}

.property {
	display: flex;
	flex-direction: column;
	grid-column: span 4;
}

.propertyName {
	color: white;
	text-align: left;
}

.sectionHeader {
	color: white;
	grid-column: span 4;
	text-align: center;
	margin: 0;
	font-size: 36px;
	border-top: white 1px solid;
	border-bottom: white 1px solid
}

.section {
	display: grid;
	grid-column: span 4;
	gap: 8px;
}

.fourColumn {
	grid-template-columns: auto auto auto auto;
	align-items: end;
}

.threeColumn {
	grid-template-columns: auto auto auto;
	align-items: end;
}

.sprite {
	margin: 8px;

}

.sprite:hover {
	filter: drop-shadow(0px 0px 4px white);
	cursor: pointer;
}

.id {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: auto;
}

.description {
	grid-column: span 4;
}

.description > textarea {
	resize: vertical;
	width: 95%;
}

.span1 {
	grid-column: span 1;
}

.span2 {
	grid-column: span 2;
}

.span3 {
	grid-column: span 3;
}

.span4 {
	grid-column: span 4;
}

.damageInputs {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	color: white;
}

.activateRow {
	grid-column: span 4;
	color: white;

	display: grid;
	grid-template-columns: auto min-content;
	flex-direction: row;
}

.activateRemove {
	align-self: flex-end;
}

.activateName {
	grid-column: 1;
	color: white;
	background-color: transparent;
	font-size: 30px;
	text-decoration: underline;
}

.activateOption {
	background-color: black;
	border: none;
}

.activate {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column: span 4;
	align-items: end;

	border: 2px solid gray;
	padding: 4px;
}

.save {
	width: 50%;
}
