.editEquipmentMenu {
	display: grid;
	flex-direction: column;
	padding: 8px;
	max-height: 80vh;
	width: 500px;
	overflow-y: scroll;
	grid-template-columns: auto auto auto auto;
	gap: 8px;
}

.editEquipmentMenu input {
	width: 90%;
}

.property {
	display: flex;
	flex-direction: column;
	grid-column: span 4;
}

.propertyName {
	color: white;
	text-align: left;
}

.sectionHeader {
	color: white;
	grid-column: span 4;
	text-align: center;
	margin: 0;
	font-size: 36px;
	border-top: white 1px solid;
	border-bottom: white 1px solid
}

.section {
	display: grid;
	grid-column: span 4;
	gap: 8px;
}

.fourColumn {
	grid-template-columns: auto auto auto auto;
}

.threeColumn {
	grid-template-columns: auto auto auto;
}

.sprite {
	grid-column: span 1;
}

.sprite:hover {
	filter: drop-shadow(0px 0px 4px white);
	cursor: pointer;
}

.id {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-column: span 3;
}

.description {
	grid-column: span 4;
}

.description > textarea {
	resize: vertical;
	width: 95%;
}

.span1 {
	grid-column: span 1;
}

.span2 {
	grid-column: span 2;
}

.span4 {
	grid-column: span 4;
}

.damageInputs {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	color: white;
}

.activateName {
	grid-column: span 4;
	color: white;
	font-size: 30px;
	text-decoration: underline;
}

.save {
	grid-column: 2 / 4;
}
