.container input, select, textarea {
	width: 95%;
	color: white;
	background-color: rgb(26, 26, 26);
	border-radius: 4px;
	padding: 4px;
	border: none;
}

.container button {
	background-color: rgb(26, 26, 26);
	border-radius: 8px;
	color: white;
	border: none;
}

.container button:disabled {
	color: gray;
}

.container select {
	padding: 8px;
	border: none;
}


.property {
	display: flex;
	flex-direction: column;
	grid-column: span 4;
	
}

.propertyName {
	color: white;
	text-align: left;
}

.sectionHeader {
	color: white;
	grid-column: span 4;
	text-align: center;
	margin: 0;
	font-size: 36px;
	border-top: white 1px solid;
	border-bottom: white 1px solid;
	background-color: rgb(44, 44, 44);
}

.section {
	display: grid;
	grid-column: span 4;
	gap: 8px;
}

.row {
	display: flex;
	grid-column: span 4;
}

.fourColumn {
	grid-template-columns: auto auto auto auto;
	align-items: end;
}

.threeColumn {
	grid-template-columns: auto auto auto;
	align-items: end;
}

.span1 {
	grid-column: span 1;
}

.span2 {
	grid-column: span 2;
}

.span3 {
	grid-column: span 3;
}

.span4 {
	grid-column: span 4;
}