.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.disabledPagination {
	color: grey;
	cursor: default;
	user-select: none;
}

.pagination {
	color: white;
}

.paginationButton {
	cursor: pointer;
	user-select: none;
}

.pagination > div {
	margin: 4px;
	font-size: 36px;
	
}

